{% extends 'base.html' %}

{% block title %}Payment Successful{% endblock %}

{% block content %}
    <div class="success-container" style="text-align: center; margin-top: 50px;">
        <h1 style="color: green; font-size: 32px;">Payment Successful!</h1>
        <p style="font-size: 18px; color: gray;">Your payment has been successfully processed. Thank you for your purchase.</p>

        <a href="{% url 'courses_app:courses' %}" style="background-color: rgb(77, 157, 100); color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; display: inline-block; margin-top: 20px;">
            Explore the courses
        </a>
    </div>
{% endblock %}
